---
import Layout from '../layouts/Layout.astro';
import {UserCard, MemojiCard, SocialCard, ReadCvCard, LookingCard } from '../components/Card';
import { Works } from '../components/Works';
---

<Layout title="David Ochoa | Web Developer">
	<header class="flex flex-row p-4 backdrop-blur-sm py-10 fixed top-0 z-10 w-full bg-opacity-70 bg-slate-900 lg:px-36" >
		<div class="flex justify-center items-center w-full md:justify-start font-mono">
			<h1 class="text-xl text-white">davidochoa<strong class="uppercase text-slate-500">{'.<dev>'} </strong></h1>
		</div>
		<div class="hidden md:flex md:flex-row md:gap-4 md:flex-grow md:items-center md:justify-end text-[#33ddb3] font-mono">
			<a href="#about" class="hover:text-[#9bffe6] hover:font-bold transition duration-300 ease-in-out">About</a>
			<a href="#contacts" class="hover:text-[#9bffe6] hover:font-bold transition duration-300 ease-in-out">Contacts</a>
			<a href="#projects" class="hover:text-[#9bffe6] hover:font-bold transition duration-300 ease-in-out">Projects</a>
		</div>
	</header>
	<main class="p-4 flex flex-col gap-4 mt-24 lg:p-8 lg:gap-8 lg:px-24 scroll-mt-24" id="about">
		<div class="flex flex-col lg:flex-nowrap lg:flex-row gap-4 lg:gap-8 justify-center">
			<UserCard/>
			<MemojiCard client:idle/>
		</div>
		<div class="flex flex-row flex-wrap lg:flex-nowrap lg:flex-row gap-4 lg:gap-8 justify-center scroll-mt-28" id="contacts">
			<LookingCard client:idle/>
			<SocialCard />
			<ReadCvCard />
		</div>
		<div class="flex justify-center scroll-mt-28" id="projects">
			<Works client:idle/>
		</div>
	</main>
</Layout>