---

---

<footer class="w-full bg-slate-900 h-full p-8 border-t border-slate-800">
   <p class="font-mono text-sm text-slate-500">Built with: </p>
   <div class="flex flex-row gap-4 py-4">
      <a href="https://astro.build/" target="_blank" class="hover:scale-110 transition-all duration-300">
         <img src="./svg/astro.svg" alt="astro" width="32px"/>
      </a>
      <a href="https://www.typescriptlang.org/" target="_blank"  class="hover:scale-110 transition-all duration-300">
         <img src="./svg/typescript.svg" alt="typescript" width="32px"/>
      </a>
      <a href="https://react.dev/" target="_blank"  class="hover:scale-110 transition-all duration-300">
         <img src="./svg/react.svg" alt="react" width="32px"/>
      </a>
      <a href="https://tailwindcss.com/" target="_blank"  class="hover:scale-110 transition-all duration-300">
         <img src="./svg/tailwind.svg" alt="TailwindCSS" width="32px"/>
      </a>
   </div>
   <p class="text-slate-500 text-sm">Deploy with Github Pages</p>
</footer>